functionsDirectory = "/Users/justingriffith/Documents/Claude-Assist/projects/vpp-texas-website/netlify/functions"
functionsDirectoryOrigin = "config"
redirectsOrigin = "config"
plugins = []
headers = []

[build]
publish = "/Users/justingriffith/Documents/Claude-Assist/projects/vpp-texas-website/dist"
publishOrigin = "config"
commandOrigin = "config"
command = "npm run build"
functions = "/Users/justingriffith/Documents/Claude-Assist/projects/vpp-texas-website/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[functions]

[functions."*"]

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/:splat"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]